.card-img {
    width: 120px;
    height: auto;
}

.grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    padding-top: 10px;
    padding-left: 30px;
    padding-bottom: 20px;
}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 7pt;
    margin-top: 30px;
}

.product-card button {
    margin-top: auto;
    padding: 0 8px 0 8px;
}

.card-text {
    margin-bottom: 4px;
}

.logo-box {
    margin: 30px;
    display:flex;
    min-width: 800px;
    max-width: 1000px;
    align-items: center;
    align-self: center;
}

.logo-text {
    margin: 0px 30px;
    font-size: 24px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.navbar-custom {
    background-color: #0086BE;
}

.section {
    margin-bottom: 20px;
}

main .form-control
{
    /* Center form controls */
    display: inline-block;

    /* Override Bootstrap's 100% width for form controls */
    width: auto;
}

@keyframes hide {
    0% {
        opacity: 1;
        width: 100%;
    }
    75% {
        opacity: 0;
        width: 100%;
    }
    100% {
        opacity: 0;
        width: 0px;
    }
}

.lorem-text {
    margin-left: 5rem;
    padding: 1rem;
}

.sidebar {
    width: 68px;
    height: 100vh;
    position: fixed;
    background-color: #0086BE;
    transition: width 300ms ease;
}

.logo img {
    transform: rotate(0deg);
    transition: transform 300ms;
    margin-left: 0px;
}

.sidebar-item {
    visibility: hidden;
    margin-left: 10px;
    color: white;
}

.sidebar:hover {
    width: 16rem;
    overflow-y: auto;
}

.sidebar:hover .logo img {
    transform: rotate(90deg);
}

.sidebar:hover .sidebar-item {
    visibility: visible;
    transition-delay: 200ms;
}

.sidebar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
}