{% extends "layout.html" %}

{% block main %}
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                    Refresh brand lists
                </div>
                <div class="card-body">
                    <p class="card-text">Choose sites to refresh, then press Submit</p>
                    <form action="/admin" method="POST">
                        {% for site in sites_brands %}
                        <div class="form-check">
                            <label class="form-check-label" for="{{ site['site'] }}">{{ site['site'] }}</label>
                            <input class="form-check-input" type="checkbox" id="{{ site['site'] }}" name="{{ site['site'] }}" value="True">
                        </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>

{% endblock %}