{% extends "layout.html" %}
{% set active_page = "admin" %}

{% block main %}
            <div class="container p-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                        Refresh brand lists
                    </div>
                    <div class="card-body">
                        <p class="card-text">Choose sites to refresh, then press 'Submit'</p>
                        <form action="/admin" method="POST">
                            {% for site in sites_brands %}
                            <div class="form-check">
                                <label class="form-check-label" for="{{ site['site'] }}">
                                    {{ site['site'] }}
                                    <span class="badge bg-secondary">
                                        <i>{{ site['scrapedate'] }}</i>
                                    </span>
                                </label>
                                <input class="form-check-input" type="checkbox" id="{{ site['site'] }}" name="brands" value="{{ site['site'] }}">
                            </div>
                            {% endfor %}
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="container p-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                        Refresh Product prices
                    </div>
                    <div class="card-body">
                        <p class="card-text">Choose sites to refresh, then press 'Submit'</p>
                        <form action="/admin" method="POST">
                            {% for site in sites_products %}
                            <div class="form-check">
                                <label class="form-check-label" for="{{ site }}">
                                {{ site['site_id'] }}
                                <span class="badge bg-secondary">
                                        <i>{{ site['scrapedate'] }}</i>
                                    </span>
                                </label>
                                <input class="form-check-input" type="checkbox" id="{{ site['site_id'] }}" name="products" value="{{ site['site_id'] }}">
                            </div>
                            {% endfor %}
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
{% endblock %}