{% extends "layout.html" %}
{% set active_page = "brands" %}

{% block main %}
        <div class="container p-5">
            <input autocomplete="off" autofocus class="form-control" name="q" placeholder="Search Brand Name" type="text">
        </div>
        <div class="container">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Brand</th>
                        <th scope="col">Site</th>
                        <th scope="col">Earliest Date</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Filled in via AJAX request in javascript below -->
                </tbody>
            </table>
        </div>

        <!-- Vanilla JS AJAX request -->
        <script>
            let input = document.querySelector('input');
            input.addEventListener('keyup', function() {
                fetch('/search?q=' + input.value)
                .then(response => response.json())
                .then(data => {
                    let table = document.querySelector('tbody');
                    table.innerHTML = '';

                    data.forEach(function(data) {
                        const table_row = document.createElement('tr');
                        const brand = document.createElement('td');
                        const site = document.createElement('td');
                        const date = document.createElement('td');

                        brand.innerHTML = data.brand;
                        site.innerHTML = data.site;
                        date.innerHTML = data.scrapedate;

                        table_row.append(brand);
                        table_row.append(site);
                        table_row.append(date);

                        table.append(table_row);

                    });
                });
            });
        </script>

{% endblock %}