{% extends "layout.html" %}

{% block main %}
        <div class="container p-5">
            <input autocomplete="off" autofocus class="form-control" name="q" placeholder="Search Brand Name" type="text">
        </div>
        <div class="container">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">site</th>
                        <th scope="col">brand</th>
                        <th scope="col">date</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Filled in via AJAX request in javascript below -->
                </tbody>
            </table>
        </div>
        
        <!-- JQuery -->
        <script   src="https://code.jquery.com/jquery-3.6.0.min.js"   integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="   crossorigin="anonymous"></script>

        <!-- AJAX request -->
        <script>
            let input = document.querySelector('input');
            input.addEventListener('keyup', function() {
                $.get('/search?q=' + input.value, function(brands) {
                    let html = '';
                    for (let item in brands)
                    {
                        let brand = brands[item].brand;
                        let scrapedate = brands[item].scrapedate;
                        let site = brands[item].site;
                        html += '<tr>'
                            + '<td>' + brand + '</td>'
                            + '<td>' + scrapedate + '</td>'
                            + '<td>' + site + '</td>'
                            + '</tr>'
                    }
                    document.querySelector('tbody').innerHTML = html;
                });
            });
        </script>
{% endblock %}