{% extends "layout.html" %}

{% block main %}
        <div class="container p-5">
            <div class="section">
                <form action="/brands" method="get">
                    <div class="form-group">
                        <input autocomplete="off" autofocus class="form-control" name="q" placeholder="Brand Name" type="text">
                    </div>
                    <button class="btn btn-primary" type="submit">Get Brand Distribution</button>
                </form>
            </div>
        </div>
        <div class="container">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">site</th>
                        <th scope="col">brand</th>
                        <th scope="col">date</th>
                    </tr>
                </thead>
                <tbody>
                {% for brand in brands %}
                    <tr>
                        <td>{{ brand['brand'] }}</td>
                        <td>{{ brand['site'] }}</td>
                        <td>{{ brand['scrapedate'] }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
{% endblock %}