{% extends "layout.html" %}
{% set active_page = "categories" %}

{% block main %}
        <div class="container">
            {% for brand in brands %}
            <input type="checkbox" name="{{ brand }}" value="{{ brand }}" checked>
            <label for="{{ brand }}">{{ brand }}</label>
            {% endfor %}
        </div>
        <div class="container">
            <div class="grid">
                {% for product in products %}
                    <div class="product-card">
                        <img class="card-img" src="{{ product['image_link'] }}" alt="{{ product['name_clean'] }}"/>
                        <h5 class="card-text">{{ product['price'] | gbp }}</h5>
                        <p class="card-text">{{ product['name_clean'] }}</p>
                        <button type="button" class="btn btn-outline-secondary btn-sm" id="{{ product['name_clean'] }}" onclick="hide_card(this.parentElement)">Hide</button>
                    </div>
                {% endfor %}
            </div>
        </div>
{% endblock %}