{% extends "layout.html" %}
{% set active_page = "categories" %}

{% block script %}
    <script src="/static/script.js"></script>
{% endblock script %}

{% block main %}
        <nav class="sidebar">
            <ul class="sidebar-nav">
                <li class="logo">
                    <a href="#" class="sidebar-link">
                    <img src="/static/favicon.png">
                    </a>
                <li class="sidebar-item">
                    <input type="checkbox" name="Select-All" value="Select All" checked>
                    <label for="Select-All">Select All</label>
                </li>
                <li class="sidebar-item">
                    <p></p>
                </li>
                {% for brand in brands %}
                <li class="sidebar-item">
                    <input type="checkbox" name="{{ brand }}" value="{{ brand }}" class="brand" checked>
                    <label for="{{ brand }}">{{ brand }}</label>
                </li>
                {% endfor %}
            </ul>
        </nav>

        <div class="container">

        </div>
        <div class="container">
            <div class="grid">
                {% for product in products %}
                    <div class="product-card" data-brand="{{ product['brand'] }}">
                        <img class="card-img" src="{{ product['image_link'] }}" alt="{{ product['name_clean'] }}"/>
                        <h5 class="card-text">{{ product['price'] | gbp }}</h5>
                        <p class="card-text">{{ product['name_clean'] }}</p>
                        <button type="button" class="btn btn-outline-secondary btn-sm" id="{{ product['name_clean'] }}" onclick="hide_card(this.parentElement)">Hide</button>
                    </div>
                {% endfor %}
            </div>
        </div>
{% endblock %}