{% extends "layout.html" %}
{% set active_page = "home" %}

{% block main %}
        <div class="container">
            {% for brand in brands %}
            <input type="checkbox" name="{{ brand }}" value="{{ brand }}" checked>
            <label for="{{ brand }}">{{ brand }}</label>
            {% endfor %}
        </div>
        <div class="logo-box">
            <img src="static/logo_small.png" alt="logo with lipstick icon" class="logo-image">
            <p class="logo-text">Welcome to Scrape50</p>
        </div>
{% endblock %}